@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.title-font {
  color: #142c54;
  font-size: 36px;
  font-family: "Cookie", cursive;
  font-weight: bold;
  margin: 0px;
}

.nav-link > span {
  text-decoration: none;
  color: cadetblue;
  font-size: 22px;
}
.nav-link.active > span {
  font-weight: 500;
  color: #142c54;
}
