@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap");

.image-container {
  height: 50vh;
  /* display: flex;
   */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: wheat;
}

.barcode-font{
  font-family: 'Libre Barcode 39', cursive;
  color:"whitesmoke";
               
}

.modal-full-width .modal-dialog {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
